# ---- Quarto ----
/_site/
.quarto/
.quarto-render/

# ---- OS ----
.DS_Store
.AppleDouble
.LSOverride

# ---- Editor / IDE ----
.vscode/
.idea/

# ---- Logs / temp ----
*.log
*.tmp
*.swp

# ---- Node / tooling (au cas où) ----
node_modules/

# ---- Python (au cas où) ----
__pycache__/
*.py[cod]
.venv/

/.quarto/
**/*.quarto_ipynb
