{{ $page := . }}
{{ $modified := false }}
{{ if reflect.IsMap . }}
  {{ $page = .page }}
  {{ $modified = .modified }}
{{ end }}
{{ with $page }}
<article class="post-card">
  <p class="post-card-date">
    {{ if $modified }}
    Modifié le <time datetime="{{ $modified.Format `2006-01-02T15:04:05Z07:00` }}">{{ $modified.Format "02.01.2006" }}</time>
    {{ else }}
    <time datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "02.01.2006" }}</time>
    {{ end }}
  </p>
  {{ if $modified }}
  <h3><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
  {{ else }}
  <h2><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h2>
  {{ end }}
  {{ with .Params.categories }}
    <p class="post-card-taxonomy">{{ delimit . " · " }}</p>
  {{ end }}
  <div class="post-card-summary">
    {{ if .Summary }}
      <p>{{ .Summary | plainify | truncate 220 }}</p>
    {{ else }}
      <p>{{ .Plain | truncate 220 }}</p>
    {{ end }}
  </div>
  <a class="post-card-link" href="{{ .RelPermalink }}">Continuer</a>
</article>
{{ end }}
