{{ $articles := .RegularPages.ByLastmod.Reverse }}
{{ $count := int site.Params.posts.recentlyModifiedCount }}
{{ if and (gt $count 0) (gt (len $articles) 0) }}
  <section class="recently-modified" aria-labelledby="recently-modified-title">
    <h2 id="recently-modified-title">Dernières mises à jour</h2>
    <div class="post-grid">
      {{ range first $count $articles }}
        {{ partial "post-card.html" (dict "page" . "modified" .Lastmod) }}
      {{ end }}
    </div>
  </section>
{{ end }}
